<h1><%= @status.status %></h1>

<br/>

<dl>
  <p><dt>Status: </dt>
  <dd><%= @status.status %></dd></p>
  <p><dt>User: </dt>
  <dd><%= @status.user %></dd></p>
  <p><dt>Likes: </dt>
  <dd><%= @status.likes %></dd></p>
</dl>

<br/>
